{% extends 'TwitterLike/base.html' %}
{% block content %}
    {% for tweet in tweets %}
        <div class="border border-dark">
            <a href="{{ tweet.id }}">
                <div style="display: flex">
                    <h1 style="top: 0; left:0">{{ tweet.author }}</h1>
                    <h1 style="margin: 0; left:50%; position: relative">{{ tweet.pub_date }}</h1>
                </div>
                <p>{{ tweet.desc }}</p>
                {% if tweet.img %}
                    <img src="{{ tweet.img }}" style="width: 100%">
                {% endif %}
            </a>
            {% load bootstrap_icons %}
            <div style="display: flex">
                {% if user in tweet.likes.all %}
                    <form action="#" method="get">
                        <input type="hidden" name="tweet_id" value={{ tweet.id }}>
                        <button name="unliked" type="submit" value={{ tweet.likes.all.count }}>
                            {% bs_icon 'hand-thumbs-up-fill' %}
                            {{ tweet.likes.all.count }}
                        </button>
                    </form>
                {% else %}
                    <form action="#" method="get">
                        <input type="hidden" name="tweet_id" value={{ tweet.id }}>
                        <button name="liked" type="submit" value={{ tweet.likes.all.count }}>
                            {% bs_icon 'hand-thumbs-up' %}
                            {{ tweet.likes.all.count }}
                        </button>
                    </form>
                {% endif %}
            <button>
                {% bs_icon 'chat' %}
                {{ tweet.comment_counter }}
            </button>
            <button>
                {% bs_icon 'arrow-clockwise' %}
                {{ tweet.retweet_counter }}
            </button>
            </div>
        </div>
        <br>
    {% endfor %}
{% endblock %}