{% extends 'TwitterLike/base.html' %}
{% block title %} A Tweet {% endblock %}
{% block content %}
    {% load bootstrap_icons %}
    <div>
        <div style="display: flex">
            <a href="/twitter/{{ tweet.author.username }}">
                <h1 style="top: 0; left:0">{{ tweet.author }}</h1>
            </a>
            <h1 style="margin: 0; left:50%; position: relative">{{ tweet.pub_date }}</h1>
        </div>
        <p>{{ tweet.desc }}</p>
        {% if tweet.img %}
            <img src="/media/{{ tweet.img }}" style="height: 200px; width: 200px">
        {% endif %}
        {% if user in tweet.likes.all %}
            <form action="#" method="get">
                <input type="hidden" name="tweet_id" value={{ tweet.id }}>
                <button name="unliked" type="submit" value={{ tweet.likes.all.count }}>
                    {% bs_icon 'hand-thumbs-up-fill' %}
                    {{ tweet.likes.all.count }}
                </button>
            </form>
        {% else %}
            <form action="#" method="get">
                <input type="hidden" name="tweet_id" value={{ tweet.id }}>
                <button name="liked" type="submit" value={{ tweet.likes.all.count }}>
                    {% bs_icon 'hand-thumbs-up' %}
                    {{ tweet.likes.all.count }}
                </button>
            </form>
        {% endif %}
        <form action="#" method="get">
                <input type="hidden" name="tweet_id" value={{ tweet.id }}>
                <button name="retweet" type="submit" value="1">
                    {% bs_icon 'arrow-clockwise' %}
                    {{ tweet.retweet_counter }}
                </button>
        </form>
    </div>
    <h1>Comments:</h1>
    <br>
    <a href="{{ tweet.id }}/comment">
        <h3>Create your comment</h3>
    </a>
    {% for comment in tweet.get_comments %}
        <div class="border border-dark">
            <div style="display: flex">
                <a href={{ comment.author.username }}>
            <h1 style="top: 0; left:0">{{ comment.author }}</h1>
                </a>
        </div>
            <p>{{ comment.desc }}</p>
            {% if comment.img %}
                <img src="/media/{{ comment.img}}">
            {% endif %}
            {% if user in comment.likes.all %}
                    <form action="#" method="get">
                        <input type="hidden" name="comment_id" value={{ comment.id }}>
                        <button name="unliked-comment" type="submit" value={{ tweet.likes.all.count }}>
                            {% bs_icon 'hand-thumbs-up-fill' %}
                            {{ comment.likes.all.count }}
                        </button>
                    </form>
                {% else %}
                    <form action="#" method="get">
                        <input type="hidden" name="comment_id" value={{ comment.id }}>
                        <button name="liked-comment" type="submit" value={{ tweet.likes.all.count }}>
                            {% bs_icon 'hand-thumbs-up' %}
                            {{ comment.likes.all.count }}
                        </button>
                    </form>
                {% endif %}
        </div>
        <br>
    {% endfor %}
{% endblock %}